<h3>Why are you here?</h3>
<p>
  This is a good question to ask yourself, and if you don't have an answer, well lets hope you can find 
  one (or better yet come up with a question as well).  
  As for me, I setup this website as a location to store my throughts and experiences as I seek to develop
  my skills outside of my ordinary skills.  
</p>

<h3>Background</h3>
<p>
  I'm a Software Engineer, who is trying to work on his craft.  I have always had a knack for working with computers
  and love to see the new and exciting items that are released by the community.  I write code for work and for fun, 
  and am searching out that project that I whole-heartily believe in to help contribute.  I'm a huge linux geek, and love 
  working on the linux platform (despite my 8 years of strictly windows development).  Through this site I will share the
  information I learn in web development, backend development, tool usage, testing and even hobby electronics.   
</p> 
